<h3>{{(user) ? user.displayName : ''}}</h3>
<button *ngIf="!user" (click)="signInGoogle()">login</button>
<button *ngIf="user" (click)="signOutGoogle()">log out</button><br>
<div *ngIf="user">
    <input type="text" #twt placeholder="write new twitt">
    <button (click)="send_twitt(twt.value)">send twitt</button>
</div>
<md-card>
    <md-list>
        <md-list-item *ngFor="let post of posts | async">
            {{post.body + ' . '}}
            <a [routerLink]="['/post', post.key]"> read more ...</a>
        </md-list-item>
    </md-list>
</md-card>