<div class="container-fluid">

    <div class="row top-card">
        <md-card *ngIf="user" class="col-md-6 col-md-offset-3">
            <md-input-container class="full-width">
                <textarea #twt mdInput placeholder="Twitt your thought here..."></textarea>
            </md-input-container>
            <button md-raised-button (click)="send_twitt(twt.value)">Submit</button>
        </md-card>
    </div>


    <div class="row">
        <div *ngFor="let post of posts | async" class="col-md-6 col-md-offset-3 media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" [src]="post.author.photo" alt="...">
                </a>
                <app-favorite (change)="favoriteChanged($event)" [hostId]="post.$key" [favoriteCount]="post.likes" [isFavorite]="isFavorite(post.likers)" [disabled]="!signedIn"></app-favorite>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{post.author.name}}</h4>
                <p>
                    {{post.body + ' . '}}
                    <a [routerLink]="['/post', post.$key]"> read more ...</a>
                </p>
            </div>
        </div>
    </div>


</div>